(
  name: "Docker (list and control)",
  description: "Syntax: { d(ocker) | c(ompose) } <command>\nExample: d nginx up",
  query: (
    regex: "^([dc] )+",
    help: "d nginx up",
    isolate: true,
    no_sort: true,
  ),
  bin: (path: "docker"),
  icon: Name("system-run-symbolic"),
  history: false,
)
