(
  name: "Docker",
  description: "Syntax: <d> for docker\n        <c> for compose",
  query: (
    regex: "^([dc] )+",
    help: "d nginx up",
    isolate: true,
    no_sort: true,
  ),
  bin: (path: "docker"),
  icon: Mime("docker-icon.png"),
  history: false,
)
