(
  name: "Docker list (ps)",
  description: "Syntax: { dps | cps | dcps }\nExample: dps",
  query: (
    regex: "^(dl|dps|cps|dcps)$",
    help: "dps",
    isolate: true,
    no_sort: false,
  ),
  bin: (path: "../docker/docker"),
  icon: Name("system-run-symbolic"),
  history: false,
)
