(
  name: "Docker (list)",
  description: "Syntax: { ps | dps | cps | dcps }\nExample: ps",
  query: (
    regex: "^(d?c?ps)$",
    help: "dps",
    isolate: true,
    no_sort: true,
    //priority: High,
  ),
  bin: (path: "../docker/docker"),
  icon: Name("system-run-symbolic"),
  history: false,
)
